$font-stack: Arial, Helvetica, sans-serif;
$font-color: #04000c;
$base-color :#fff;
$primary-color: #fafafa;
$secondary-color: #b38cfc;
$dark-color:#0b011c;


@mixin set-background{
    background-color: $secondary-color;
    color: $base-color;
}


.container{
    max-width: 1100px;
    padding: 0 30px;
    margin: 0 auto;
    overflow: auto;
}