@import 'buttons';


@media(max-width:700px){
    .container{
        padding-left: 15px;
        padding-right: 15px;
    }

    .header{
        // height: 30px;
        background-color: aquamarine;

        nav{
            display: flex;
            align-items: center;
            justify-content: space-between;
            display: flex;
            flex-direction: row;
            height: 80px;
            padding: 0 1rem;

            ul{
                display: flex;
            }

            li{
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin: 0 10px;
            }

            a{
                text-decoration: none;
                color: #000;
                padding: 7px 13px;
                border-radius: 3px;
            }
        }

        .nav-menu{
            display: none;
        }

        .nav-brand {
            // width: 120px;
            margin-top: 5px;
            line-height: 75px;
            display: block;
          }

        .nav-toggler {
            display: block;
            color: #000;
            font-size: 20px;
            background: transparent;
            border: none;
        }

        .nav-menu-mobile.open {
            top: 65px;
        }

        .nav-menu-mobile {
            background-color: #000;
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            z-index: 1;
            width: 100%;
            top: -460px;
            transition: all 300ms ease-in-out;

            ul{
                list-style-type: none;
                padding: 2rem;
            }

            
        }
    }
}