@import 'config';
@import 'utilities';
@import 'buttons';

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header-copy{
    .content{
        padding-top: 50px;
        // width: 320px; 
        padding-left: 20px;
        padding-right: 20px;

        h3{
            text-align: center;
            font-size: 3rem
        }

        p{
            margin-top: 15px;
            font-size: 1.2rem; 
            text-align: center;
        }
    }
}

a{
    text-decoration: none;
}




@import 'mobile';